@{
    ViewData["Title"] = "About Page";
}

<div class="center-center">
    <h1>Hi, I'm Tim Luna</h1>
    <p>I have been developing enterprise software for an offshore engineering company since 2016. I've recently started building this site and hope to create some fun content.</p>
</div>
