@{
    ViewData["Title"] = "About Page";
}

<div class="center-center">
    <h1>About</h1>
    <p>This app was created with ASP.Net Core 3.1 and utilizes PostgreSQL database for data persistence.</p>
</div>
