@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col justify-center w-75">
    <h1 class="display-4">Hi, I'm Tim Luna</h1>
    <p>I have been developing enterprise software for an offshore engineering company since 2016. I've recently started developing this site and hope to create some fun content.</p>
</div>
